@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/landing1.svg'), url('/Landing2.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    background-size: 100%, 100% 50%;
}