@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

.first-bank-card{
    background: #666666;
    background: linear-gradient(32deg, rgba(102, 102, 102, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.auth-header {
    background-image: url('/'); /* Update this path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-login{
    background-image:url('/bg-element-3.jpg') ; 
    image-orientation: 90deg;/* Update this path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-landing{
    background-image:url('/bg-element-4.svg') ; /* Update this path */
    background-position: top;
    background-repeat: no-repeat;
}
.get-started{
    background: #050000;
background: radial-gradient(circle, rgba(5, 0, 0, 1) 0%, rgba(90, 92, 97, 1) 100%);
}
